.img-container-detalle-producto {
  width: 50vw;
  height: 50vh;
    
}

.detalle-container-detalle-producto {
  width: 50vw;
  height: 50vh;
}

.dos-sections {
  display: flex;
}

.boton-container-detalle-producto{
  height: 30vh;
}