.sub-titulo-retiro-local {
  font-size: $font-size-m;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-left: 70vh;
  margin-top: 6px;
  height: 5vh;
}


.icono {
  width: 4vw;
  margin-top: 60px;
  margin-left: 30vh;
}

.boton {
  width: 12vw;
  margin-top: 13vh;
  margin-left: 35vw;
  display: flex;
}

.boton2 {
  width: 12vw;
  margin-top: -4vh;
  margin-left: 55vw;
  display: flex;
}

.section-lista {
  width: 50vw;
  margin-left: 20vw;
  margin-top: 80px;
}
