body{
  background-color: #E9ECF5;
}

.title{
  font-size: $font-size-xl;
  font-family: Arial, Helvetica, sans-serif;
}
.container-titulo-tipo{
  height: 15vh;
}

.tipo-imagenes {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tipo-ropa-ordenada{
  height: 90%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


