.barra-title {
  background-color: #AE76A6;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.principal-title {
  margin-left: 20px;
  color: #E9ECF5;
}

.container-right-head {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.img-avatar {
  margin: 0px 10px;
}