.navbar {
  background-color: #ccd6eb;
  display: flex;
  width: 1350px;
  height: 105px;
}

.container-list {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  margin: 0 50px;
}

.right-nav {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.right-nav input {
  background-color: #e9ecf5;
  border-color: E9ECF5;
  border-radius: 15px;
  position: relative;
  height: 40px;
}

.lupa {
  position: absolute;
  left: 125px;
  bottom: 15px;
}

.carrito-nav {
  margin-left: 23px;
}

.container-search {
  position: absolute;
  right: 32px;
}
