.soporte {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  height: 8vh;
  margin-top: 70px;
}

.soporte1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soporte-numero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}